<template>
  <v-container fill-height>
    <v-row>
      <v-col offset-lg="4">
        <v-row>
          <img src="@/assets/Gruppe3987.png" alt="Usermanagement" />
        </v-row>
        <v-row>
          <v-col offset-lg="2" lg="5">
            <div class="text-h6 mb-1">Add a new user.</div>
          </v-col>
        </v-row>
        <v-row>
          <v-col offset-lg="1" lg="5">
            <v-btn
              small
              color="#2CA5B4"
              dark
              block
              :to="{ name: 'CreateUserView' }"
            >
              <v-icon left> mdi-account-plus-outline </v-icon>
              Create User
            </v-btn>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "AddANewUser",
};
</script>

<style scoped>
</style>