<template>
  <v-tab-item>
    <v-card flat>
      <v-card-title>
        <user-avatar
          :size="72"
          :initials="currentUserInfo.firstName[0] + currentUserInfo.lastName[0]"
        />
        <p class="ml-6">
          <span class="grey--text text-subtitle-2">Name</span>
          <br />
          {{ currentUserInfo.lastName }} {{ currentUserInfo.firstName }}
        </p>
        <v-spacer />
        <UserDetailsDropMenu />
      </v-card-title>
      <v-card-text>
        <p class="black--text">Information</p>
        <v-divider class="mt-n3" />
        <v-row class="mt-5">
          <v-col lg="4">
            <p>
              Username<br />
              <span class="black--text text-h6">
                {{ currentUserInfo.userName }}
              </span>
            </p>
          </v-col>
          <v-col lg="4">
            <p>
              Email<br />
              <span class="black--text text-h6">
                {{ currentUserInfo.email }}
              </span>
            </p>
          </v-col>
          <v-col lg="4">
            <p>
              Password<br />
              <span class="black--text text-h6">
                {{
                  currentUserInfo.password === ""
                    ? "********"
                    : currentUserInfo.password
                }}
              </span>
            </p>
          </v-col>
        </v-row>
        <v-row class="mt-5">
          <v-col lg="4">
            <p>
              Created by<br />
              <span class="black--text text-h6">
                {{
                  currentUserInfo.createdBy === null
                    ? "-----------"
                    : currentUserInfo.createdBy
                }}
              </span>
            </p>
          </v-col>
          <v-col lg="4">
            <p>
              Created on<br />
              <span class="black--text text-h6">
                {{ currentUserInfo.createdOn }}
              </span>
            </p>
          </v-col>
          <v-col lg="4">
            <p>
              Last modified<br />
              <span class="black--text text-h6">
                {{
                  currentUserInfo.modifiedOn === null
                    ? "no modified"
                    : currentUserInfo.modifiedOn
                }}
              </span>
            </p>
          </v-col>
        </v-row>
        <v-divider />
        <p class="black--text mt-2">Details</p>
        <v-row>
          <v-col lg="4">
            <p>
              Registered on<br />
              <span class="black--text text-h6">
                {{
                  currentUserInfo.registeredOn === null
                    ? "no info"
                    : currentUserInfo.registeredOn
                }}
              </span>
            </p>
          </v-col>
          <v-col lg="4">
            <p>
              Password changed<br />
              <span class="black--text text-h6">
                {{ currentUserInfo.passwordChanged === false ? "no" : "yes" }}
              </span>
            </p>
          </v-col>
          <v-col lg="4">
            <p>
              Last login<br />
              <span class="black--text text-h6">
                {{
                  currentUserInfo.lastLogin === null
                    ? "not changed"
                    : currentUserInfo.lastLogin
                }}
              </span>
            </p>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-tab-item>
</template>

<script>
import UserDetailsDropMenu from "@/components/General/UserDetailsDropMenu";
import UserAvatar from "../General/UserAvatar.vue";

export default {
  name: "GeneralInfoTab",
  components: {
    UserDetailsDropMenu,
    UserAvatar,
  },
  props: {
    currentUserInfo: {},
  },
};
</script>

<style scoped>
</style>