<template>
  <v-virtual-scroll
    :bench="10"
    :items="userlistItems"
    :item-height="70"
    height="72vh"
    class="scrollbarOff"
  >
    <template v-slot:default="{ item }">
      <v-divider />
      <v-list-item
        :to="{
          name: 'UsersDetailsView',
          params: { id: item.id },
        }"
      >
        <user-avatar :initials="item.initials" class="mr-3" />
        <v-list-item-content>
          <v-list-item-title
            >{{ item.lastName }}, {{ item.firstName }}</v-list-item-title
          >
          <v-list-item-subtitle>
            {{ item.roles[0] !== undefined ? item.roles[0].name : "no roles" }}
            <v-badge
              inline
              color="#B42C61"
              :content="'+' + (item.countOfRoles - 1)"
              :value="item.countOfRoles"
              v-if="item.countOfRoles > 1"
            >
            </v-badge>
          </v-list-item-subtitle>
        </v-list-item-content>
        <v-list-item-action>
          <UserDropMenu />
        </v-list-item-action>
      </v-list-item>
    </template>
  </v-virtual-scroll>
</template>

<script>
import UserDropMenu from "@/components/General/UserDropMenu";
import UserAvatar from "../General/UserAvatar.vue";
import { mapActions } from "vuex";

export default {
  name: "ListOfUsers",
  components: {
    UserDropMenu,
    UserAvatar,
  },
  computed: {
    userlistItems() {
      if (this.$store.state.searchField !== undefined) {
        let tempArray = [];
        let regexp = new RegExp(`${this.$store.state.searchField}`, "iu");
        for (const item of this.$store.getters.allUserlistItems) {
          if (regexp.test(item.firstName) || regexp.test(item.lastName)) {
            tempArray.push(item);
          }
        }
        return tempArray;
      } else {
        return this.$store.getters.allUserlistItems;
      }
    },
  },
  methods: mapActions(["GetUserList"]),
  async mounted() {
    this.GetUserList();
  },
};
</script>

<style scoped>
</style>