<template>
  <v-toolbar outlined style="height: 9vh">
    <v-row>
      <v-col>
        <div class="text-sm-h5 mt-2">Users</div>
      </v-col>
      <v-col offset-lg="10">
        <v-btn
          class="mb-1"
          style="border-color: #dfdfdf"
          outlined
          icon
          large
          :to="{ name: 'CreateUserView' }"
        >
          <v-icon color="#2CA5B4" size="32"> mdi-plus </v-icon>
        </v-btn>
      </v-col>
    </v-row>
  </v-toolbar>
</template>

<script>
export default {
  name: "Subheader",
};
</script>

<style scoped>
</style>