<template>
  <v-container>
    <v-tabs
      v-model="tab"
      background-color="transparent"
      color="#2CA5B4"
      class="mt-n2"
    >
      <v-tab>Allgemeine angaben</v-tab>
      <v-tab>Userroles</v-tab>
    </v-tabs>
    <v-tabs-items v-model="tab">
      <GeneralInfoTab :currentUserInfo="currentUserInfo" />
      <UserRolesTab :currentUserRolesInfo="currentUserRolesInfo" />
    </v-tabs-items>
  </v-container>
</template>

<script>
import GeneralInfoTab from "@/components/UsersPage/GeneralInfoTab";
import UserRolesTab from "@/components/UsersPage/UserRolesTab";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "UserDetail",
  components: {
    GeneralInfoTab,
    UserRolesTab,
  },
  props: {
    id: {
      type: String,
      require: true,
    },
  },
  data() {
    return {
      tab: null,
    };
  },
  computed: mapGetters(["currentUserInfo", "currentUserRolesInfo"]),
  methods: mapActions(["GetUserInfo"]),
  watch: {
    $route() {
      this.GetUserInfo(this.id);
    },
  },
  mounted() {
    this.GetUserInfo(this.id);
  },
};
</script>

<style scoped>
</style>