<template>
  <v-tab-item>
    <v-card flat>
      <v-simple-table fixed-header height="70vh">
        <thead>
          <tr>
            <th class="text-left">Name</th>
            <th class="text-left">Systems & Applications</th>
            <th class="text-left">Assigned on</th>
            <th class="text-left">Assigned by</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in currentUserRolesInfo" :key="item.name">
            <td>
              <role-avatar class="my-3" />
              {{ item.name }}
            </td>
            <td>{{ item.applicationAndSystem.name }}</td>
            <td>{{ item.assignedOn }}</td>
            <td>{{ item.assignedBy }}</td>

            <UserDropMenu />
          </tr>
        </tbody>
      </v-simple-table>
    </v-card>
  </v-tab-item>
</template>

<script>
import UserDropMenu from "@/components/General/UserDropMenu";
import RoleAvatar from "../General/RoleAvatar.vue";

export default {
  name: "UserRolesTab",
  components: {
    UserDropMenu,
    RoleAvatar,
  },
  props: {
    currentUserRolesInfo: {},
  },
};
</script>

<style scoped>
</style>