.scrollbarOff {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbarOff::-webkit-scrollbar {
    width: 0;
    height: 0;
}
html, body {
    margin: 0;
    padding: 0;
}
html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}