<template>
  <v-tab-item>
    <v-card flat>
      <v-simple-table fixed-header height="70vh">
        <thead>
          <tr>
            <th class="text-left">Name</th>
            <th class="text-left">Username</th>
            <th class="text-left">Other Roles</th>
            <th class="text-left">Assigned on</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in currentRoleUsersInfo" :key="item.firstName">
            <td>
              <user-avatar
                class="my-3 mr-2"
                :initials="item.firstName[0] + item.lastName[0]"
              />
              {{ item.lastName }}, {{ item.firstName }}
            </td>
            <td>{{ item.userName }}</td>
            <td>
              <v-chip v-if="item.roles[0] !== undefined" color="blue">
                {{ item.roles[0].name }}
              </v-chip>
            </td>
            <td>{{ item.assignedOn }}</td>

            <UserDropMenu />
          </tr>
        </tbody>
      </v-simple-table>
    </v-card>
  </v-tab-item>
</template>

<script>
import UserDropMenu from "@/components/General/UserDropMenu";
import UserAvatar from "../General/UserAvatar.vue";
export default {
  name: "AssignedUserTab",
  components: {
    UserDropMenu,
    UserAvatar,
  },
  props: {
    currentRoleUsersInfo: {},
  },
};
</script>

<style scoped>
</style>