<template>
  <v-tab-item>
    <v-card flat>
      <v-card-title>
        <role-avatar size="72" class="ml-n1" />
        <p class="ml-6">
          <span class="grey--text text-subtitle-2">Name</span>
          <br />
          {{ currentRoleInfo.name }}
        </p>
        <v-spacer />
        <UserDetailsDropMenu />
      </v-card-title>
      <v-card-text>
        <p class="black--text">Informationen</p>
        <v-divider class="mt-n3" />
        <v-row class="mt-5">
          <v-col lg="4">
            <p>
              Applications & Systems<br />
              <span class="black--text text-h6">
                {{ currentRoleInfo.applicationAndSystem.name }}
              </span>
            </p>
          </v-col>
          <v-col lg="8">
            <p>
              Description<br />
              <span class="black--text text-h6">
                {{
                  currentRoleInfo.description === ""
                    ? "no description"
                    : currentRoleInfo.description
                }}
              </span>
            </p>
          </v-col>
        </v-row>
        <v-row class="mt-5">
          <v-col lg="4">
            <p>
              Created by<br />
              <span class="black--text text-h6">
                {{
                  currentRoleInfo.createdBy === ""
                    ? "no info"
                    : currentRoleInfo.createdBy
                }}
              </span>
            </p>
          </v-col>
          <v-col lg="4">
            <p>
              Created on<br />
              <span class="black--text text-h6">
                {{ currentRoleInfo.createdOn }}
              </span>
            </p>
          </v-col>
          <v-col lg="4">
            <p>
              Last modified<br />
              <span class="black--text text-h6">
                {{
                  currentRoleInfo.modifiedOn === null
                    ? "no modified"
                    : currentRoleInfo.modifiedOn
                }}
              </span>
            </p>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-tab-item>
</template>

<script>
import UserDetailsDropMenu from "@/components/General/UserDetailsDropMenu";
import RoleAvatar from "../General/RoleAvatar.vue";
export default {
  name: "GeneralInfoTab",
  components: {
    UserDetailsDropMenu,
    RoleAvatar,
  },
  props: {
    currentRoleInfo: {},
  },
};
</script>

<style scoped>
</style>