<template>
  <v-virtual-scroll
    :bench="10"
    :items="rolelistItems"
    :item-height="70"
    height="72vh"
    class="scrollbarOff"
  >
    <template v-slot:default="{ item }">
      <v-divider />
      <v-list-item
        :to="{
          name: 'UserRolesDetailsView',
          params: { id: item.id },
        }"
      >
        <role-avatar class="ml-n1 mr-2" />
        <v-list-item-content>
          <v-list-item-title>{{ item.name }}</v-list-item-title>
          <v-list-item-subtitle class="black--text">
            {{ item.applicationAndSystem.name }}
          </v-list-item-subtitle>
        </v-list-item-content>
        <v-list-item-action>
          <UserDropMenu />
        </v-list-item-action>
      </v-list-item>
    </template>
  </v-virtual-scroll>
</template>

<script>
import UserDropMenu from "@/components/General/UserDropMenu";
import RoleAvatar from "../General/RoleAvatar.vue";
import { mapActions } from "vuex";

export default {
  name: "ListOfRoles",
  components: {
    UserDropMenu,
    RoleAvatar,
  },
  computed: {
    rolelistItems() {
      if (this.$store.state.searchField !== undefined) {
        let tempArray = [];
        let regexp = new RegExp(`${this.$store.state.searchField}`, "iu");
        for (const item of this.$store.getters.allRolelistItems) {
          if (regexp.test(item.name)) {
            tempArray.push(item);
          }
        }
        return tempArray;
      } else {
        return this.$store.getters.allRolelistItems;
      }
    },
  },
  methods: mapActions(["GetRoleList"]),
  async mounted() {
    this.GetRoleList();
  },
};
</script>

<style scoped>
</style>