<template>
  <v-toolbar outlined style="height: 9vh;">
    <v-row>
      <v-col>
        <div class="text-sm-h5 mt-1">User Roles</div>
      </v-col>
    </v-row>
  </v-toolbar>
</template>

<script>
export default {
  name: "Subheader"
}
</script>

<style scoped>

</style>