<template>
  <v-container>
    <v-tabs v-model="tab" background-color="transparent" color="#2CA5B4">
      <v-tab>Allgemeine angaben</v-tab>
      <v-tab>Assigned User</v-tab>
    </v-tabs>
    <v-tabs-items v-model="tab">
      <GeneralInfoTab :currentRoleInfo="currentRoleInfo" />
      <AssignedUserTab :currentRoleUsersInfo="currentRoleUsersInfo" />
    </v-tabs-items>
  </v-container>
</template>

<script>
import GeneralInfoTab from "@/components/UserRolesPage/GeneralInfoTab";
import AssignedUserTab from "@/components/UserRolesPage/AssignedUserTab";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "UserRolesDetail",
  components: {
    AssignedUserTab,
    GeneralInfoTab,
  },
  props: {
    id: {
      type: String,
      require: true,
    },
  },
  data() {
    return {
      tab: null,
    };
  },
  computed: mapGetters(["currentRoleInfo", "currentRoleUsersInfo"]),
  methods: mapActions(["GetRoleInfo"]),
  watch: {
    $route() {
      this.GetRoleInfo(this.id);
    },
  },
  mounted() {
    this.GetRoleInfo(this.id);
  },
};
</script>

<style scoped>
</style>