<template>
  <v-sheet color="#E8E8E8" height="100%" width="100%">
    <v-row no-gutters>
      <v-col lg="12">
        <Subheader />
      </v-col>
    </v-row>

    <v-row dense>
      <v-col lg="8" offset-lg="2">
        <v-card flat>
          <v-form v-model="valid" ref="form" lazy-validation>
            <v-row no-gutters style="height: 7.1vh">
              <v-col lg="9">
                <anchor-tabs />
              </v-col>
              <v-col lg="12" style="z-index: 5">
                <v-divider />
              </v-col>
            </v-row>

            <div class="scOff">
              <div id="Goto1" />
              <form-header />
              <v-card-text>
                <v-container>
                  <form-inputs />
                  <v-divider id="Goto2" class="ml-n6 mt-12" />

                  <v-row no-gutters>
                    <v-col lg="6">
                      <applications-and-systems-list />
                    </v-col>
                    <v-col lg="1" class="mt-16">
                      <v-divider vertical class="ml-4 mt-14"></v-divider>
                    </v-col>
                    <v-col lg="5">
                      <user-roles-list />
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>
            </div>

            <v-divider />
            <v-row class="mt-1" style="height: 9vh">
              <v-col lg="3" offset-lg="3">
                <v-btn block @click="$refs.form.reset()"> Abbrechen </v-btn>
              </v-col>
              <v-col lg="3">
                <v-btn
                  block
                  color="#2CA5B4"
                  dark
                  @click="
                    $refs.form.validate() ? PostCreateUser() : (valid = true)
                  "
                >
                  Speichern
                </v-btn>
              </v-col>
            </v-row>
          </v-form>
        </v-card>
      </v-col>
    </v-row>
  </v-sheet>
</template>

<script>
import Subheader from "@/components/CreateUserPage/Subheader";
import UserDropMenu from "@/components/General/UserDropMenu";
import RoleAvatar from "@/components/General/RoleAvatar";
import AnchorTabs from "@/components/CreateUserPage/AnchorTabs.vue";
import FormHeader from "@/components/CreateUserPage/FormHeader.vue";
import FormInputs from "@/components/CreateUserPage/FormInputs.vue";
import ApplicationsAndSystemsList from "@/components/CreateUserPage/ApplicationsAndSystemsAndRolesList.vue";
import UserRolesList from "@/components/CreateUserPage/AppsAndSystemsAndRolesSelectedList.vue";
import { mapActions } from "vuex";

export default {
  name: "CreateUserView",
  components: {
    Subheader,
    UserDropMenu,
    RoleAvatar,
    AnchorTabs,
    FormHeader,
    FormInputs,
    ApplicationsAndSystemsList,
    UserRolesList,
  },
  data() {
    return {
      valid: true,
    };
  },
  methods: mapActions(["PostCreateUser"]),
};
</script>

<style scoped>
.scOff {
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 65vh;
}
.scOff::-webkit-scrollbar {
  width: 0;
  height: 0;
}
</style>