<template>
  <v-sheet color="#E8E8E8" height="100%" width="100%">
    <v-row no-gutters>
      <v-col lg="12">
        <Subheader />
      </v-col>

      <v-col lg="11">
        <v-card flat tile outlined>
          <v-card-title style="height: 11vh">
            <v-row>
              <v-col lg="3">
                <search-input />
              </v-col>
              <v-col lg="3">
                <v-select
                  v-model="selectAppAndSysForSearch"
                  :items="allApplicationsAndSystems"
                  item-text="name"
                  label="Applications & Systems"
                  multiple
                  return-object
                  outlined
                  dense
                >
                </v-select>
              </v-col>
              <v-col lg="5"></v-col>
              <v-col lg="1">
                <search-drop-menu />
                <floating-search-close-button path="UserRolesView" />
              </v-col>
            </v-row>
          </v-card-title>
          <v-divider />
          <v-simple-table fixed-header height="71.5vh">
            <thead>
              <tr>
                <th class="text-left">Name</th>
                <th class="text-left">Applications & Systems</th>
                <th class="text-left">Description</th>
                <th class="text-left">Last edited</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in rolelistItems" :key="item.name">
                <td>
                  <role-avatar size="42" class="ml-n2 my-3 mr-4" />
                  {{ item.name }}
                </td>
                <td>{{ item.applicationAndSystem.name }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.lastModified }}</td>

                <UserDropMenu />
              </tr>
            </tbody>
          </v-simple-table>
        </v-card>
      </v-col>
    </v-row>
  </v-sheet>
</template>

<script>
import Subheader from "@/components/RollenPage/Subheader";
import { mapActions } from "vuex";
import SearchInput from "@/components/General/SearchInput.vue";
import SearchDropMenu from "@/components/General/SearchDropMenu.vue";
import RoleAvatar from "@/components/General/RoleAvatar.vue";
import FloatingSearchCloseButton from "@/components/General/FloatingSearchCloseButton.vue";

export default {
  name: "UserRolesView",
  components: {
    Subheader,
    SearchInput,
    SearchDropMenu,
    RoleAvatar,
    FloatingSearchCloseButton,
  },
  data() {
    return {
      selectAppAndSysForSearch: [],
    };
  },
  computed: {
    rolelistItems() {
      if (this.selectAppAndSysForSearch[0]) {
        let tempArray = [];
        for (const item of this.$store.getters.allRolelistItems) {
          for (const appAndSys of this.selectAppAndSysForSearch) {
            if (item.applicationAndSystem.name === appAndSys.name) {
              let tempObj = Object.assign({}, item);
              tempArray.push(tempObj);
            }
          }
        }
        if (this.$store.state.searchField !== undefined) {
          let tempArray2 = [];
          let regexp = new RegExp(`${this.$store.state.searchField}`, "iu");
          for (const item of tempArray) {
            if (regexp.test(item.name)) {
              tempArray2.push(item);
            }
          }
          return tempArray2;
        } else {
          return tempArray;
        }
      } else {
        if (this.$store.state.searchField !== undefined) {
          let tempArray2 = [];
          let regexp = new RegExp(`${this.$store.state.searchField}`, "iu");
          for (const item of this.$store.getters.allRolelistItems) {
            if (regexp.test(item.name)) {
              tempArray2.push(item);
            }
          }
          return tempArray2;
        } else {
          return this.$store.getters.allRolelistItems;
        }
      }
    },
    allApplicationsAndSystems() {
      return this.$store.getters.allApplicationsAndSystems;
    },
  },
  methods: mapActions(["GetRoleList", "GetApplicationsAndSystemsAndRolesList"]),
  async mounted() {
    this.GetRoleList();
    this.GetApplicationsAndSystemsAndRolesList();
  },
};
</script>

<style scoped>
</style>