<template>
  <v-sheet color="#E8E8E8" height="100%" width="100%">
    <v-row no-gutters>
      <v-col lg="12">
        <Subheader />
      </v-col>

      <v-card tile width="300">
        <v-col>
          <v-card-title style="height: 11vh">
            <v-row>
              <SearchInput />
              <SearchDropMenu />
              <FloatingSearchOpenButton path="RollenView" />
            </v-row>
          </v-card-title>
          <v-row>
            <ListOfRoles />
          </v-row>
        </v-col>
      </v-card>

      <v-col lg="9">
        <router-view></router-view>
      </v-col>
    </v-row>
  </v-sheet>
</template>

<script>
import Subheader from "@/components/UserRolesPage/Subheader";
import SearchInput from "@/components/General/SearchInput";
import SearchDropMenu from "@/components/General/SearchDropMenu";
import ListOfRoles from "@/components/UserRolesPage/ListOfRoles";
import FloatingSearchOpenButton from "@/components/General/FloatingSearchOpenButton.vue";

export default {
  name: "UserRolesView",
  components: {
    ListOfRoles,
    SearchDropMenu,
    SearchInput,
    Subheader,
    FloatingSearchOpenButton,
  },
};
</script>

<style scoped>
</style>