<template>
  <v-sheet color="#E8E8E8" height="100%" width="100%">
    <v-row no-gutters>
      <v-col lg="12">
        <Subheader />
      </v-col>

      <v-col lg="11">
        <v-card flat tile outlined>
          <v-card-title style="height: 11vh">
            <v-row>
              <v-col lg="3">
                <search-input />
              </v-col>
              <v-col lg="3">
                <v-select :items="statusItems" label="Status" outlined dense>
                </v-select>
              </v-col>
              <v-col lg="3">
                <v-select
                  v-model="selectRoleForSearch"
                  :items="allRolelistItems"
                  item-text="name"
                  label="Rollen"
                  multiple
                  return-object
                  outlined
                  dense
                >
                </v-select>
              </v-col>
              <v-col lg="2"></v-col>
              <v-col lg="1">
                <search-drop-menu />
                <floating-search-close-button path="UsersMainView" />
              </v-col>
            </v-row>
          </v-card-title>
          <v-divider />
          <v-simple-table fixed-header height="71.5vh">
            <thead>
              <tr>
                <th class="text-left">Name</th>
                <th class="text-left">Email</th>
                <th class="text-left">Rollen</th>
                <th class="text-left">Aktiv seit</th>
                <th class="text-left">Letzte Anmeldung</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in userlistItems" :key="item.name">
                <td>
                  <user-avatar
                    size="42"
                    class="ml-n2 my-3 mr-4"
                    :initials="item.initials"
                  />
                  {{ item.lastName }} {{ item.firstName }}
                </td>
                <td>{{ item.email }}</td>
                <td>
                  <v-chip
                    v-for="role in item.roles"
                    :key="role.name"
                    color="blue"
                    class="mx-1"
                  >
                    {{ role.name }}
                  </v-chip>
                  <v-badge
                    inline
                    color="#B42C61"
                    :content="'+' + (item.countOfRoles - 3)"
                    :value="item.countOfRoles"
                    v-if="item.countOfRoles > 3"
                  >
                  </v-badge>
                </td>
                <td>
                  {{ item.lastActivity }}
                </td>
                <td>
                  {{ item.lastActivity }}
                </td>

                <UserDropMenu />
              </tr>
            </tbody>
          </v-simple-table>
        </v-card>
      </v-col>
    </v-row>
  </v-sheet>
</template>

<script>
import Subheader from "@/components/UsersPage/Subheader";
import { mapActions } from "vuex";
import SearchInput from "@/components/General/SearchInput.vue";
import SearchDropMenu from "@/components/General/SearchDropMenu.vue";
import FloatingSearchCloseButton from "@/components/General/FloatingSearchCloseButton.vue";
import UserAvatar from "@/components/General/UserAvatar.vue";

export default {
  name: "UserSearchView",
  components: {
    Subheader,
    SearchInput,
    SearchDropMenu,
    FloatingSearchCloseButton,
    UserAvatar,
  },
  data() {
    return {
      statusItems: ["foo", "bar", "fiz"],
      selectRoleForSearch: [],
    };
  },
  computed: {
    userlistItems() {
      if (this.selectRoleForSearch[0]) {
        let tempArray = [];
        for (const item of this.$store.getters.allUserlistItems) {
          for (const role of item.roles) {
            for (const selectRole of this.selectRoleForSearch) {
              if (role.name === selectRole.name) {
                let tempObj = Object.assign({}, item);
                tempArray.push(tempObj);
              }
            }
          }
        }
        if (this.$store.state.searchField !== undefined) {
          let tempArray2 = [];
          let regexp = new RegExp(`${this.$store.state.searchField}`, "iu");
          for (const item of tempArray) {
            if (
              regexp.test(item.firstName) ||
              regexp.test(item.lastName) ||
              regexp.test(item.email) ||
              regexp.test(item.userName)
            ) {
              tempArray2.push(item);
            }
          }
          return tempArray2;
        } else {
          return tempArray;
        }
      } else {
        if (this.$store.state.searchField !== undefined) {
          let tempArray2 = [];
          let regexp = new RegExp(`${this.$store.state.searchField}`, "iu");
          for (const item of this.$store.getters.allUserlistItems) {
            if (
              regexp.test(item.firstName) ||
              regexp.test(item.lastName) ||
              regexp.test(item.email) ||
              regexp.test(item.userName)
            ) {
              tempArray2.push(item);
            }
          }
          return tempArray2;
        } else {
          return this.$store.getters.allUserlistItems;
        }
      }
    },
    allRolelistItems() {
      return this.$store.getters.allRolelistItems;
    },
  },
  methods: mapActions(["GetRoleList", "GetUserList"]),
  async mounted() {
    this.GetUserList();
    this.GetRoleList();
  },
};
</script>

<style scoped>
</style>