<template>
  <v-fab-transition>
    <v-btn fab small absolute right :to="{ name: path }" style="left: 73.4rem">
      <v-icon size="38"> mdi-chevron-left </v-icon>
    </v-btn>
  </v-fab-transition>
</template>

<script>
export default {
  name: "FloatingSearchCloseButton",
  props: {
    path: {
      type: String,
      require: true,
    },
  },
};
</script>

<style scoped>
</style>
