<template>
  <v-avatar color="#2CA5B4" :size="size" class="ml-5">
    <v-icon>mdi-car-shift-pattern</v-icon>
  </v-avatar>
</template>

<script>
export default {
  name: "RoleAvatar",
  props: {
    size: {
      type: Number,
      required: false,
      default: 46,
    },
  },
};
</script>
