<template>
  <v-text-field
    label="Search"
    v-model="$store.state.searchField"
    outlined
    dense
  ></v-text-field>
</template>

<script>
export default {
  name: "SearchInput",
};
</script>

<style scoped>
</style>