<template>
  <v-menu bottom :close-on-content-click="closeOnContentClickSearchMenu">
    <template v-slot:activator="{ on, attrs }">
      <v-btn icon v-bind="attrs" v-on="on">
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>
    </template>
    <v-list>
      <v-list-item v-for="(item, index) in allItemsSearchDropMenu" :key="index">
        <v-list-item-title>
          <v-icon>{{ item.icon }}</v-icon>
          {{ item.title }}
        </v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  name: "SearchDropMenu",
  data() {
    return {
      closeOnContentClickSearchMenu: true,
    }
  },
  computed: {
    allItemsSearchDropMenu() {
      return this.$store.getters.allItemsSearchDropMenu;
    }
  }
}
</script>

<style scoped>

</style>