<template>
  <v-avatar color="#2CA5B4" :size="size">
    <span class="white--text text-h5">{{ initials }}</span>
  </v-avatar>
</template>

<script>
export default {
  name: "UserAvatar",
  props: {
    size: {
      type: Number,
      required: false,
      default: 46,
    },
    initials: {
      type: String,
      required: true,
      default: "FL",
    },
  },
};
</script>