<template>
  <v-tabs color="#2CA5B4">
    <v-tab @click="anchorsUp">User Information</v-tab>
    <v-divider class="mt-6" />
    <v-tab @click="anchorsDown">Applications, Systems & User Roles</v-tab>
  </v-tabs>
</template>

<script>
export default {
  name: "AnchorTabs",
  methods: {
    anchorsDown() {
      const el = document.getElementById("Goto2");
      el.scrollIntoView({
        behavior: "smooth",
        block: "start",
      });
    },
    anchorsUp() {
      const el = document.getElementById("Goto1");
      el.scrollIntoView({
        behavior: "smooth",
        block: "start",
      });
    },
  },
};
</script>

<style scoped>
</style>