<template>
  <v-list dense>
    <v-subheader class="black--text text-h6 ml-n2">
      Applications, Systems and User Roles
    </v-subheader>
    <p class="mt-3 mr-16">
      Select the application, systems and user roles for which the user should
      be authorized.
    </p>
    <v-treeview
      v-model="$store.state.ApplicationsAndSystemsAndRolesSelection"
      :items="AllApplicationsAndSystemsAndRoles"
      selection-type="leaf"
      selectable
      return-object
      open-all
    >
      <template v-slot:prepend="{ item }">
        <role-avatar size="30" v-if="item.appAndSys" />
      </template>
    </v-treeview>
  </v-list>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import RoleAvatar from "../General/RoleAvatar.vue";

export default {
  components: { RoleAvatar },
  name: "ApplicationsAndSystemsList",
  computed: mapGetters(["AllApplicationsAndSystemsAndRoles"]),
  methods: mapActions(["GetApplicationsAndSystemsAndRolesList"]),
  async mounted() {
    this.GetApplicationsAndSystemsAndRolesList();
  },
};
</script>

<style scoped>
</style>