<template>
  <div>
    <v-subheader class="black--text text-h6 ml-n2"> </v-subheader>
    <p class="mt-3 mb-10">Selected:</p>
    <div
      v-for="node in $store.state.ApplicationsAndSystemsAndRolesSelection"
      :key="node.id"
      class="my-2"
    >
      {{ node.appAndSys }} <br />
      <v-chip color="blue">
        {{ node.name }}
      </v-chip>
    </div>
  </div>
</template>

<script>
export default {
  name: "UserRolesList",
};
</script>

<style scoped>
</style>