<template>
  <div>
    <v-row dense class="mt-6">
      <v-col class="mx-3">
        <v-text-field
          dense
          outlined
          v-model="$store.state.surnameInputValue"
          :rules="nameRules"
          label="Surname"
          required
        ></v-text-field>
      </v-col>
      <v-col class="mx-3">
        <v-text-field
          dense
          outlined
          v-model="$store.state.firstnameInputValue"
          :rules="nameRules"
          label="Firstname"
          required
        ></v-text-field>
      </v-col>
    </v-row>

    <v-row dense>
      <v-col class="mx-3">
        <v-text-field
          dense
          outlined
          v-model="$store.state.usernameInputValue"
          :rules="nameRules"
          label="Username"
          required
        ></v-text-field>
      </v-col>
      <v-col class="mx-3">
        <v-text-field
          dense
          outlined
          v-model="$store.state.emailInputValue"
          :rules="emailRules"
          label="Email address"
          required
        ></v-text-field>
      </v-col>
    </v-row>

    <v-row dense>
      <v-col class="mx-3">
        <v-select
          v-model="selectRealm"
          :items="realmItems"
          label="Realm"
          dense
          outlined
          required
        ></v-select>
      </v-col>
    </v-row>

    <v-row dense>
      <v-subheader class="black--text"> Password: </v-subheader>
    </v-row>

    <v-row dense>
      <v-col class="mx-3">
        <v-text-field
          dense
          outlined
          v-model="$store.state.passwordInputValue"
          :rules="passwordRules"
          label="Password"
          required
        ></v-text-field>
      </v-col>
      <v-col class="mx-3">
        <v-text-field
          dense
          outlined
          v-model="$store.state.confPasswordInputValue"
          :rules="passwordRules"
          label="Confirm password"
          required
        ></v-text-field>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: "FormInputs",
  data() {
    return {
      nameRules: [(v) => !!v || "Name is required"],
      passwordRules: [
        (v) => !!v || "Password is required",
        (v) => {
          const confirmPassword = this.$store.state.passwordInputValue;
          return v === confirmPassword || "Password must match";
        },
      ],
      emailRules: [
        (v) => !!v || "E-mail is required",
        (v) => {
          const pattern =
            /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(v) || "E-mail must be valid";
        },
      ],
      selectRealm: "",
      realmItems: ["LBBW Immo", "Bar", "Foo", "Buzz"],
    };
  },
};
</script>

<style scoped>
</style>