<template>
  <v-row class="mt-1" style="height: 9vh">
    <v-col lg="3" offset-lg="3">
      <v-btn
        block
        :disabled="
          $store.state.surnameInputValue === undefined &&
          $store.state.firstnameInputValue === undefined &&
          $store.state.usernameInputValue === undefined &&
          $store.state.emailInputValue === undefined &&
          $store.state.passwordInputValue === undefined &&
          $store.state.confPasswordInputValue === undefined
        "
        @click="$refs.form.reset()"
      >
        Abbrechen
      </v-btn>
    </v-col>
    <v-col lg="3">
      <v-btn
        block
        color="#2CA5B4"
        dark
        @click="
          if ($refs.form.validate()) {
            PostCreateUser();
          }
        "
      >
        Speichern
      </v-btn>
    </v-col>
  </v-row>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "FormButtons",
  methods: mapActions(["PostCreateUser"]),
};
</script>

<style scoped>
</style>