<template>
  <v-card-title style="background-color: #2ca5b433">
    <v-row no-gutters>
      <v-col lg="2" offset-lg="5">
        <v-avatar size="100" color="#00000029" class="ml-4">
          <v-icon size="70" color="white" class="mb-4">mdi-account</v-icon>
        </v-avatar>
      </v-col>
    </v-row>
  </v-card-title>
</template>

<script>
export default {
  name: "FormHeader",
};
</script>

<style scoped>
</style>