<template>
  <v-toolbar outlined style="height: 9vh">
    <v-row no-gutters>
      <v-btn
        class="mb-1"
        style="border-color: #dfdfdf"
        outlined
        icon
        large
        :to="{ name: 'UsersMainView' }"
      >
        <v-icon color="#2CA5B4" size="32"> mdi-arrow-left </v-icon>
      </v-btn>
      <div class="text-sm-h5 mt-2 ml-4">Create User</div>
    </v-row>
  </v-toolbar>
</template>

<script>
export default {
  name: "Subheader",
};
</script>

<style scoped>
</style>