<template>
  <v-app>
    <v-app-bar style="height: 8vh" fixed color="#2CA5B4" dark>
      <v-container fluid>
        <v-row>
          <v-col>
            <div class="d-flex align-center ml-10 mt-2">
              <v-icon size="32">mdi-lock-outline</v-icon>
              <div class="text-h6 ml-6">Usermanagement</div>
            </div>
          </v-col>
          <v-col offset-lg="7">
            <v-badge
              class="mt-2"
              :content="messageCount"
              :value="messageCount"
              color="#E74C39"
              overlap
            >
              <v-icon>mdi-inbox-outline</v-icon>
            </v-badge>
          </v-col>
          <v-col>
            <v-btn class="ml-10 mb-3" fab small dark color="white">
              <v-icon dark color="black"> mdi-account-outline </v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-app-bar>

    <v-navigation-drawer
      color="#E8E8E8"
      fixed
      :mini-variant="mini"
      style="margin-top: 8vh"
      mini-variant-width="64"
      height="92vh"
    >
      <v-list dense nav>
        <template v-for="item in allNavbarItems">
          <v-list-item
            link
            :key="item.title"
            :to="{ name: `${item.pathName}` }"
            @click="mini = true"
            class="mt-2 mb-5"
          >
            <v-list-item-icon>
              <v-icon color="#2CA5B4" size="30">{{ item.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title style="color: #2ca5b4">{{
                item.title
              }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>

      <v-list-item-icon>
        <v-icon
          color="#2CA5B4"
          size="34"
          @click="mini = !mini"
          style="margin-top: 48vh"
        >
          {{ mini ? "mdi-chevron-right" : "mdi-chevron-left" }}
        </v-icon>
      </v-list-item-icon>
    </v-navigation-drawer>

    <v-main class="ml-16" style="margin-top: 8vh">
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import CreateUserView from "@/views/CreateUserView";
import Vue from "vue";
import axios from "axios";
import { updateToken } from "@/plugins/keycloak-util";
import { mapGetters } from "vuex";

const AUTHORIZATION_HEADER = "Authorization";

export default Vue.extend({
  name: "App",
  components: { CreateUserView },
  data() {
    return {
      mini: true,
    };
  },
  computed: mapGetters(["allNavbarItems", "messageCount"]),
  created: function () {
    axios.interceptors.request.use(async (config) => {
      const token = await updateToken();
      config.headers.common[AUTHORIZATION_HEADER] = `Bearer ${token}`;
      return config;
    });

    axios.interceptors.response.use(
      (response) => {
        return response;
      },
      (error) => {
        return new Promise((resolve, reject) => {
          this.$router.push("/error");
          reject(error);
        });
      }
    );
  },
  watch: {
    $route() {
      updateToken();
    },
  },
});
</script>

<style scoped>
a {
  text-decoration: none;
  color: #2ca5b4;
}
</style>